/* Sidebar */
.main-sidebar.sidebar-light-purple {
    background: rgba(243,232,255,.85) !important;
    backdrop-filter: blur(8px);
}

/* Brand */
.main-sidebar.sidebar-light-purple .brand-link{
    background:#ede9fe !important;
    color:#4c1d95 !important;
}

/* Header */
.main-sidebar.sidebar-light-purple .nav-header{
    color:#7c3aed !important;
}

/* All menu links */
.main-sidebar.sidebar-light-purple .nav-link{
    color:#4c1d95 !important;
}

/* Hover */
.main-sidebar.sidebar-light-purple .nav-link:hover{
    background:#e9d5ff !important;
    color:#4c1d95 !important;
}

/* Active */
.main-sidebar.sidebar-light-purple .nav-link.active{
    background:#d8b4fe !important;
    color:#3b0764 !important;
}

/* Submenu */
.main-sidebar.sidebar-light-purple .nav-treeview .nav-link{
    color:#5b21b6 !important;
    padding-left:2.8rem;
}

/* Submenu Hover */
.main-sidebar.sidebar-light-purple .nav-treeview .nav-link:hover{
    background:#ede9fe !important;
}

/* Open parent menu */
.main-sidebar.sidebar-light-purple .menu-open>.nav-link{
    background:#e9d5ff !important;
}

/* Icons */
.main-sidebar.sidebar-light-purple .nav-icon{
    color:#6d28d9 !important;
}